* {
  box-sizing: border-box;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 48px auto;
  padding: 0 24px;
}

.two-cols-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px;
  p {
    padding-bottom: 16px;
  }
}
