:root {
  --schwifty-fir-bg-color: #3b5249;
  --schwifty-sec-bg-color: #457091;
  --schwifty-thr-bg-color: #503b31;
}

.schwifty-text {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 30em;
  max-width: 100%;
  background-color: var(--schwifty-fir-bg-color);
  box-shadow: inset 15em 0 5em -5em var(--schwifty-thr-bg-color),
    inset 25em 0 5em -5em var(--schwifty-sec-bg-color);
  animation: schwifty-swipe-right 15s infinite linear;

  &.SWIF-s-w {
    font-size: 15px;
  }
  &.SWIF-m-w {
    font-size: 30px;
  }
  &.SWIF-l-w {
    font-size: 60px;
  }
  &.SWIF-xl-w {
    font-size: 120px;
  }

  &.SWIF-s-fast {
    animation-duration: 3s;
  }
  &.SWIF-fast {
    animation-duration: 10s;
  }
  &.SWIF-normal {
    animation-duration: 15s;
  }
  &.SWIF-slow {
    animation-duration: 20s;
  }

  &.SWIF-reverse {
    animation-direction: reverse;
  }
  &.SWIF-btn {
    border-radius: 5px;
    border: solid 2px transparent;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 24px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0.35em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    // must have to work
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    mix-blend-mode: lighten;
    margin: 0 !important;

    // defaults you can override
    padding-bottom: 0.35em;
    text-align: left;
    font-weight: 500;
  }

  h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 800;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 24px;
    font-weight: 300;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
    font-weight: 300;
  }
  p {
    font-size: 16px;
  }

  img {
    filter: grayscale(100%);
    display: block;
    padding: 0;
  }
}

@keyframes schwifty-swipe-right {
  0% {
    box-shadow: inset 0 0 var(--schwifty-thr-bg-color),
      inset 0 0 var(--schwifty-sec-bg-color),
      inset 0 0 var(--schwifty-fir-bg-color),
      inset 15em 0 5em -5em var(--schwifty-thr-bg-color),
      inset 25em 0 5em -5em var(--schwifty-sec-bg-color),
      inset 30em 0 var(--schwifty-fir-bg-color);
  }

  33% {
    box-shadow: inset 0 0 var(--schwifty-thr-bg-color),
      inset 0 0 var(--schwifty-sec-bg-color),
      inset 15em 0 5em -5em var(--schwifty-fir-bg-color),
      inset 25em 0 5em -5em var(--schwifty-thr-bg-color),
      inset 30em 0 var(--schwifty-sec-bg-color),
      inset 30em 0 var(--schwifty-fir-bg-color);
  }

  66% {
    box-shadow: inset 0 0 var(--schwifty-thr-bg-color),
      inset 15em 0 5em -5em var(--schwifty-sec-bg-color),
      inset 25em 0 5em -5em var(--schwifty-fir-bg-color),
      inset 30em 0 var(--schwifty-thr-bg-color),
      inset 30em 0 var(--schwifty-sec-bg-color),
      inset 30em 0 var(--schwifty-fir-bg-color);
  }

  100% {
    box-shadow: inset 15em 0 5em -5em var(--schwifty-thr-bg-color),
      inset 25em 0 5em -5em var(--schwifty-sec-bg-color),
      inset 30em 0 var(--schwifty-fir-bg-color),
      inset 30em 0 var(--schwifty-thr-bg-color),
      inset 30em 0 var(--schwifty-sec-bg-color),
      inset 30em 0 var(--schwifty-fir-bg-color);
  }
}
